visdom==0.2.4
torch==1.11.0
torchaudio==0.11.0
torchmetrics==0.9.1
torchsummary==1.5.1
torchtext==0.12.0
torchvision==0.12.0
tqdm==4.64.0
pandas==1.4.3
pathtools==0.1.2
scapy==2.4.5
typing_extensions==4.5.0
omegaconf==2.2.2
opencv-contrib-python==4.7.0.72
opencv-python==4.3.0.36
opencv-python-headless==4.6.0.66
einops==0.4.1
numpy==1.22.3